<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All books</h1>
    {% for book in object_list %}
      <ul>
        <li>Name: {{ book.name }}</li>
        <li>price: {{ book.price }}</li>
        <li>Image: {{ book.image }}</li>
        <li>Description: {{ book.description }}</li>
      </ul>
    {% endfor %}
  </body>
</html>
